@media only screen and (max-width: 1021px) {
    .section-header {
        font-size: 20px;
    }
    #quicklinks ul li a {
        font-size: 15px;
        text-align: center;
    }
    #quicklinks ul li {
        padding-top: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 850px) {
    #Plax-image {
        flex-direction: column;
        height: 100vh;
    }
    .tile {
        width: auto;
        margin: 1em;
        margin-right: 1em;
        border-radius: 0;
        height: 30vh;
        padding: 15px;
        
        
    }

    #quicklinks ul{
     margin: 0;
     padding: 0;   
    }
    #quicklinks ul li{
      
        padding-top: 10px;
        width: 100%;   
       }
}