/*Removes the body default margin and padding*/

body {
    margin: 0;
    padding: 0;
}


/*Header styles*/

header {
    background-color: #ec0008;
    color: white;
    opacity: 0.85;
    margin: 0;
    height: 3em;
    padding: 5px;
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    opacity: 1;
}


/*Navigation styles*/

nav {
    background-color: #960106;
    height: 3em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 50%;
    height: 100%;
    color: white;
    padding-top: 10px;
}

nav a:hover {
    background-color: #290103;
    overflow: hidden;
     
}

#quicklinks {
    width: 50%;
    height: 300px;
    background-color: #290103;
    padding: 10px;
}

.section-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;

}

#quicklinks ul li {
    text-decoration: none;
    
    display: block;
    width: 200px;
}

#quicklinks ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#quicklinks ul li a:hover {
    text-decoration: underline;
    
}