/*Removes the body default margin and padding*/

body {
    margin: 0;
    padding: 0;
}
/*Helper-Theme classes */ 
.section-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;

}
/*Header styles*/

header {
    background-color: #ec0008;
    color: white;
    opacity: 0.85;
    margin: 0;
    height: 3em;
    padding: 5px;
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    opacity: 1;
}


/*Navigation styles*/

nav {
    background-color: #960106;
    height: 3em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 50%;
    height: 100%;
    color: white;
    padding-top: 10px;
}

nav a:hover {
    background-color: #290103;
    overflow: hidden;
     
}

/* Tile class */
.tile {
    width: 100%;
    min-width: 180px;
    height: 300px;
   
    margin: 1em;
    box-sizing: border-box;
    
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 2s;
    
    background-color: antiquewhite;
    
}

/*Quick Link styles*/

#quicklinks {
        
    background-color: #290103;
    padding: 10px;
       
}

#quicklinks ul li {
    text-decoration: none;
    
    display: block;
    width: 200px;
    
    padding-top: 15px;  
}

#quicklinks ul li a {
    
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
#quicklinks ul li a:hover {
    
    text-decoration: underline;
    
}

/*Background Image Styles */
#Plax-image {
   
    width:100%;
    height: 100vh;
    
    overflow: hidden;
    position:relative;

    background-image: url("../imgs/earth-space.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    display: flex;
    flex-direction: row;

}

#weatherTile{
    background-color: #ec0008;
}



/* Css key frames */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}